
body {
	font-family: sans-serif;
	height: 80rem;
	-webkit-print-color-adjust: exact !important;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}
.card {
	border: 1px solid #ccc;
	border-radius: 0.5em;
	width: 20em;
}
.card-header {
	background-color: #ccc;
	padding: 0.25em;
	font-weight: bold;
	font-size: 1.5em;
}
.card-body {
	padding: 0.5em;
}
.command-name {
	font-size: 1.25em;
}
.command {
	font-weight: bold;
	background-color: #eee;
}
